#{extends 'main.html' /}
#{set title:' Admin Login' /}

<form action="adminLogin" method="post">
  <div class="imgcontainer">
  	<a href="/post"><img src="public\images\logo.jpg" alt="logo" class="logo"></a>
  </div>

  <div class="container">
    <input type="text" placeholder="Enter Username"  value="${flash.adminName}"name="adminName" required>

    <input type="password" placeholder="Enter Password" value="${flash.password}" name="password" required>
    <br>
    <button type="submit" value="Login">Login</button>
    <br>
    <input type="checkbox"> Remember me
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn"><a class="cancelbtn" href="http://ttk.pte.hu">Back to the blog</a></button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>