#{extends 'main.html' /}
#{set title:' Admin Login' /}
<form action="/action_page.php">

  <div class="imgcontainer">
  	<a href="http://ttk.pte.hu"><img src="public\images\logo.jpg" alt="logo" class="logo"></a>
  </div>

  <div class="container">
    <input type="text" placeholder="Enter Username" name="username" required>

    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit">Login</button>
    <input type="checkbox"> Remember me
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn"><a class="cancelbtn" href="http://ttk.pte.hu">Back to the blog</a></button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>